[Unit]
Description=Fleebmarket backend[%i]

[Service]
EnvironmentFile=/fleebmarket_%i/.env
ExecStart=/fleebmarket_%i/scripts/start_uvicorn.sh
Type=simple
NotifyAccess=all
Restart=always
SyslogIdentifier=Backend[%i]
RestartSec=5

[Install]
WantedBy=default.target

