[Unit]
Description=Fleebmarket cronjobs[%i]

[Service]
EnvironmentFile=/fleebmarket_%i/.env
ExecStart=/fleebmarket_%i/cronjobs/start.fish
Restart=always
RestartSec=5
SyslogIdentifier=Cronjobs[%i]

[Install]
WantedBy=default.target
