{% extends "generic/base.html" %}
{% block title %}Alerts{% endblock %}

{% block body %}
<form method="POST" action={% url "alerts:create" %}>
  {% csrf_token %}
  <table class="table">
    <thead>
      <tr>
        <th>Terms</th>
        <th>Advert type</th>
        <th>Region</th>
        <th>Sensitivity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for alert in alerts %}
      <tr>
        <td>{{alert.terms}}</td>
        <td>{{alert.ad_type}}</td>
        <td>{{alert.region}}</td>
        <td>{{alert.sensitivity}}</td>
        <td></tr>
      </tr>
      {% endfor %}
      <tr>
        <td>
          <div class="field">
            {{ form.terms.errors }}
            <div class="control">
              {{form.terms }}
            </div>
          </div>
        </td>
        <td>
          <div class="field">
            {{ form.ad_type.errors }}
            <div class="control">
              {{form.ad_type }}
            </div>
          </div>
        </td>
        <td>
          <div class="field">
            {{ form.region.errors }}
            <div class="control">
              {{form.region }}
            </div>
          </div>
        </td>
        <td>
          <div class="field">
            {{ form.sensitivity.errors }}
            <div class="control">
              {{form.sensitivity }}
            </div>
          </div>
        </td>
        <td>
          <button type="submit" class="button">Create alert</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}
